<footer class="border-top footer text-muted">
    <div class="container">
        &copy; 2023 - Pisseria da Giòrgio di Ahmed Assad - <a href="@Url.Action("Privacy")">Privacy</a> - <a href="@Url.Action("Contact")">Contacts</a>
    </div>
</footer>